[Unit]
Description=Run getGameData.php Script at 9:11 PM every day

[Timer]
OnCalendar=*-*-* 21:11:00
Persistent=true

[Install]
WantedBy=timers.target
