[Unit]
Description=Run Email Consumer Script to Handle Incoming Messages
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/mizm13/it490/DMZ/emails
Restart=always
RestartSec=3
User=mizm13
Group=mizm13
EnvironmentFile=/home/mizm13/it490/DMZ/emails/.env
ExecStart=/usr/bin/php /home/mizm13/it490/DMZ/emails/sendEmail.php

[Install]
WantedBy=multi-user.target